.table{
    width: 100%;
    font-size: 20px;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

.table thead{
    position: sticky;
    top: 0;
    background-color: #F5F7FA;
}

.iconColumn{
    width: 5vw;
}

.nameColumn{
    width: 10vw;
}

.telefonoColumn{
    width: 10vw;
}

.direccionColumn{
    width: 30vw;
}

.table th{
    color: #312D81;
    font-weight: 500;
    line-height: 35px;
    margin: 0;
}

.table td{
    margin: 0;
    padding: 0;
}

.table i{
    color: #312D81;
    height: 64px;
    line-height: 64px;
}

.tr{
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
}

.tr:hover{
    background-color: #C7D2FF;
    cursor: pointer;
}

.titleDivider{
    margin: 0px;
    border: 1px solid #D9D9D9;
}

.imgContainer{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 5px;
}

.imgContainer p{
    color: #D9D9D9;
}

.loaderContainer p{
    color: #6D747E;
    font-weight: 300;
}

.rowDivider hr{
    width: 95%;
    height: 0.5px;
    background-color: #D9D9D9;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.loaderContainer{
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.loaderContainer img{
    height: 180px;
}

.telefonoContainer{
    display: flex;
    flex-direction: column;
    color: #6D747E;
}
